*venv*
**/node_modules/
db.sqlite3
**/media/
**/persistance/
**/persistance_ts/
**/stuff/history_fixture/
**/doc/
**/docker/logs/
**/docker/persistance/*
**/docker/company_data/*
**/docker/company_data_docker/*
**/docker/media/*
#**/docker*
